{% extends "comics/base.html" %}
{% load static %}
{% block head %}
	<link href="{% static 'comics/css/card.css' %}" rel="stylesheet"/>
	<link href="{% static 'comics/css/index.css' %}" rel="stylesheet"/>
	<title>Comics</title>
{% endblock %}
{% block title %} Comics {% endblock %}

{% block main %}
	<h1 class="new_uploads">
		New uploads
	</h1>
	<section class="card_list mb-4">

		{% for comic in latest_updates %}
			{% include "comics/components/card.html" %}
		{% endfor %}
	</section>
	<nav aria-label="Page navigation example" class="">
		<ul class="pagination justify-content-center">
			{% if prev %}
				<li class="page-item">
					{% else %}
				<li class="page-item disabled">
			{% endif %}
			<a class="page-link" href="{% url 'comics:index' %}?page={{ prev_page }}" aria-label="Previous">
				<span aria-hidden="true">Previous</span>
			</a>
			</li>

			{% if next %}
				<li class="page-item ">
					{% else %}
				<li class="page-item disabled">
			{% endif %}
			<a class="page-link" href="{% url 'comics:index' %}?page={{ next_page }}" aria-label="Next">
				<span aria-hidden="true">Next</span>
			</a>
			</li>
		</ul>
	</nav>

{% endblock %}