{% extends 'comics/base.html' %}

{% block head %}
	<title>Marker</title>
{% endblock %}

{% block main %}
	<div class="container d-flex flex-column align-items-center" style="margin-top: 6rem">
		<h3>Coins Shop</h3>
		<br/>
		<span class="fs-3">500 Coins = 2.50€</span>
		<span class="fs-3">1000 Coins = 5.00€</span>
		<span class="fs-3">2000 Coins = 10.00€</span>

		<br/>
		<form id="coinsForm" class="d-flex flex-column">
			{% csrf_token %}
			<div class="form-floating mb-3">
				<input id="coinsField" type="text" class="form-control" placeholder="500" required/>
				<label for="coinsField">Coins amount</label>
			</div>
			<button type="submit" class="btn btn-dark">Buy</button>
		</form>
	</div>

{% endblock %}

{% block javascript %}
	<script>
      $('#coinsForm').submit((e) => {
        e.preventDefault();
        const amount = $('#coinsField').val();

        $.ajax({
          url: '{% url "comics:buy_coins" %}',
          type: 'POST',
          headers: {
            'X-CSRFToken': csrftoken
          },
          data: {
            coins_amount: amount
          },
          success: (message) => {
            alert(message);
            location.reload();
          },
          error: (xhr, ajaxOptions, thrownError) => {
            alert(xhr.responseText);
          }
        })
      });

	</script>
{% endblock %}