{% extends 'comics/base.html' %}
{% load static %}

{% block head %}
	<title>User settings</title>
	<link rel="stylesheet" type="text/css" href="{% static 'comics/css/status_rating.css' %}">
{% endblock %}

{% block main %}
	<div class="container d-flex flex-column align-items-center mt-5">
		<ul class="nav nav-tabs justify-content-between w-50" id="myTab" role="tablist">
			{% if user.is_creator %}
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="my-comics-tab" data-bs-toggle="tab"
					        data-bs-target="#my-comics-tab-pane"
					        type="button" role="tab" aria-controls="my-comics-tab-pane" aria-selected="true">
						My comics
					</button>
				</li>
			{% endif %}
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="library-tab" data-bs-toggle="tab" data-bs-target="#library-tab-pane"
				        type="button" role="tab" aria-controls="library-tab-pane" aria-selected="true">
					Library
				</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments-tab-pane"
				        type="button" role="tab" aria-controls="comments-tab-pane" aria-selected="false">
					Comments
				</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history-tab-pane"
				        type="button" role="tab" aria-controls="history-tab-pane" aria-selected="false">
					History
				</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="buylist-tab" data-bs-toggle="tab" data-bs-target="#buylist-tab-pane"
				        type="button" role="tab" aria-controls="buylist-tab-pane" aria-selected="false">
					Buy list
				</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings-tab-pane"
				        type="button" role="tab" aria-controls="settings-tab-pane" aria-selected="false">
					Settings
				</button>
		</ul>
		<div class="tab-content container mt-3" id="myTabContent">
			<div class="tab-pane fade show active" id="library-tab-pane" role="tabpanel" aria-labelledby="library-tab"
			     tabindex="0">
				<ul class="container w-75">
					{% for entry in lib_comics %}
						<li class="card">
							<div class="card-body d-flex flex-row justify-content-between">
								<div class="d-flex flex-row">
									<img src="/media/{{ entry.comic.cover }}" alt="{{ entry.comic.title }}" width="69"
									     height="100"/>
									<h3 class="ms-2 align-self-center">{{ entry.comic.title }}</h3>
								</div>
								<div class="align-self-center">
									<a href="{% url 'comics:comic_detail' comic_id=entry.comic_id %}"
									   class="btn btn-dark me-1">
										View
									</a>
									{% csrf_token %}
									<button onclick="removeBookmark({{ entry.comic_id }})"
									        class="btn btn-outline-danger">Remove
									</button>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="tab-pane fade" id="comments-tab-pane" role="tabpanel" aria-labelledby="comments-tab"
			     tabindex="0">
				<ul class="container  w-75">
					{% for comment in comments %}
						<li class="card mb-3" id="comment_{{ comment.id }}">
							<div class='card-body'>
								<div class='d-flex flex-row align-items-end'>
									<h5 class='card-title mb-0 me-2'>{{ comment.user.username }}</h5>
									<span class='card-subtitle'> - {{ comment.created_on }}</span>
									{% if comment.reply %}
										<span class='card-subtitle ms-2'>
											reply to
											<i class="fas fa-arrow-right"></i>
											{{ comment.reply.user.username }}</span>
									{% endif %}
								</div>
								<div class="position-absolute" style="right: 1rem; top: 1rem">
									<a class='btn btn-outline-dark'
									   onclick='deleteComment({{ comment.id }})'>
										<i class="fas fa-xmark"></i>
									</a>
								</div>
								<div class='card-text'>{{ comment.body }}</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="tab-pane fade" id="history-tab-pane" role="tabpanel" aria-labelledby="history-tab" tabindex="0">
				<ul class="container  w-75">
					{% for entry in history %}
						<li class="card mb-3" id="history_entry_{{ entry.id }}">
							<div class='card-body d-flex flex-row justify-content-between align-items-center    '>
								<div class='d-flex flex-row align-items-end'>
									<h5 class='card-title mb-0 me-2'>{{ entry.chapter }}</h5>
									<span class='card-subtitle'> - {{ entry.date }}</span>
								</div>
								<div class="">
									<a class='btn btn-outline-dark'
									   onclick='deleteHistoryEntry({{ entry.id }})'>
										<i class="fas fa-xmark"></i>
									</a>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="tab-pane fade" id="buylist-tab-pane" role="tabpanel" aria-labelledby="buylist-tab"
			     tabindex="0">
				<ul class="container  w-75">
					{% for entry in buy_list %}
						<li class="card mb-3" id="history_entry_{{ entry.id }}">
							<div class='card-body d-flex flex-row justify-content-between align-items-center    '>
								<div class='d-flex flex-row align-items-end'>
									<h5 class='card-title mb-0 me-2'>{{ entry.chapter }}</h5>
									<span class='card-subtitle'> - {{ entry.date }}</span>
								</div>
								<div class="">
									<i class="fas fa-coins"></i>
									<span class='card-subtitle'>{{ entry.chapter.cost }}</span>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="tab-pane fade" id="settings-tab-pane" role="tabpanel" aria-labelledby="settings-tab"
			     tabindex="0">
				<div class="container d-flex flex-column w-50">
					<div id="username">
						<h6>Change Username</h6>
						<span>Current Username:</span>
						<span><strong>{{ user.username }}</strong></span>
						<form id="change-username" class="mt-3">
							{% csrf_token %}
							<label for="new-username">New username</label>
							<div class="input-group ">
								<input type="text" class="form-control" id="new-username"
								       placeholder="New username...">
								<button type="submit" class="btn btn-outline-dark">Submit</button>
							</div>
						</form>
					</div>
					<hr>
					<div id="password">
						<h6>Change Password</h6>
						<form id="change-password" class="mt-3">
							{% csrf_token %}
							<label for="old_password">Old password</label>
							<input type="password" class="form-control" id="old_password" placeholder="Old password...">

							<label for="new_password" class="mt-2">New password</label>
							<input type="password" class="form-control" id="new_password" placeholder="New password...">

							<label for="confirm_password" class="mt-2">Confirm password</label>
							<div class="input-group ">
								<input type="password" class="form-control" id="confirm_password"
								       placeholder="Confirm password...">
								<button type="submit" class="btn btn-outline-dark">Submit</button>
							</div>
						</form>
					</div>
					<hr>
					{% if not user.is_creator %}
						<div id="creator">
							<h6>Creator</h6>
							<button class="btn btn-warning" onclick="becomeCreator()">Become Creator</button>
						</div>
					{% endif %}
				</div>
			</div>
			<div class="tab-pane fade" id="my-comics-tab-pane" role="tabpanel" aria-labelledby="my-comics-tab">
				<div class="container d-flex flex-column w-75">
					<a href="{% url 'comics:add_new_comic' %}" class=" btn btn-outline-dark btn-lg mb-4">
						Add new comic
					</a>
					<h6>My Comics</h6>
					<ul class="ps-0">
						{% for comic in my_comics %}
							<li class="card mb-3" id="my_comic_{{ comic.id }}">
								<div class='card-body d-flex flex-row justify-content-between align-items-center'>
									<div class='d-flex flex-column'>
										<h5 class='card-title mb-0 me-2'>{{ comic.title }}</h5>
										<span class='card-subtitle'>
											{% if comic.status == 'O' %}
												<i class="fa-solid fa-circle status_dot ongoing"></i>
												<span class="status">Ongoing</span>
											{% elif comic.status == 'H' %}
												<i class="fa-solid fa-circle status_dot hiatus"></i>
												<span class="status">Hiatus</span>
											{% elif comic.status == 'C' %}
												<i class="fa-solid fa-circle status_dot completed"></i>
												<span class="status">Completed</span>
											{% elif comic.status == 'D' %}
												<i class="fa-solid fa-circle status_dot cancelled"></i>
												<span class="status">Cancelled</span>
											{% endif %}
										</span>
										<span class='card-subtitle'>
											<i class="fas fa-star star px-0"></i>
											{{ comic.rating }}
										</span>

										<span class='card-subtitle'>
											<i class="fas fa-bookmark"></i>
											{{ comic.follows }}
										</span>
										<span class='card-subtitle'>
											<i class="fas fa-eye"></i>
											{{ comic.watches }}
										</span>
									</div>
									<div class="d-flex flex-row">
										<div class="me-1">
											<button class="dropdown-toggle btn btn-secondary " type="button"
											        id="dropdownMenuButton"
											        data-bs-toggle="dropdown" aria-expanded="false"
											        data-bs-auto-close="outside">
												Update Status
											</button>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
												{% for id, val in comic.STATUS %}
													<li>
														<button class="dropdown-item"
														        onclick="updateStatus('{{ id }}', {{ comic.id }})">
															{{ val }}
														</button>
													</li>
												{% endfor %}
											</ul>
										</div>

										<a href="{% url 'comics:comic_detail' comic_id=comic.id %}"
										   class="btn btn-dark me-1">
											View
										</a>
										<a class='btn btn-success'
										   href="{% url 'comics:add_new_chapter' comic_id=comic.id %}">
											Add chapter
										</a>
									</div>
									<div class="">
										<a class='btn btn-danger'
										   onclick='deleteComic({{ comic.id }})'>
											Delete this comic
										</a>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{% static 'comics/js/bookmark.js' %}" type="text/javascript"></script>
	<script src="{% static 'comments/js/comment.js' %}" type="text/javascript"></script>
	<script src="{% static 'comics/js/history.js' %}" type="text/javascript"></script>
	<script src="{% static 'comics/js/settings.js' %}" type="text/javascript"></script>
	<script src="{% static 'comics/js/manage_comic.js' %}" type=" text/javascript"></script>
{% endblock %}