<header class="p-3 bg-dark text-white">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center">
			<a href="{% url 'comics:index' %}" class="d-flex align-items-center  me-3 text-white text-decoration-none">
				<span class="fs-4">Home</span>
			</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a href="{% url 'comics:comic_list' %}" class="nav-link px-2 text-secondary">Series</a></li>
			</ul>

			<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="{% url 'comics:comic_list' %}">
				<label>
					<input type="search" class="form-control form-control-dark text-white bg-dark"
					       placeholder="Search..."
					       name="p"/>
				</label>
			</form>
			{% if user.is_authenticated %}
				<div class="dropdown text-end">
					<a class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1"
					   data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fa-regular fa-circle-user fs-3"></i>
					</a>
					<ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
						<li>
							<a href="{% url 'comics:buy_coins' %}" class="dropdown-item">
								{{ user.coins }}
								<i class="fas fa-coins"></i>
							</a>
						</li>
						<li><a class="dropdown-item" href="{% url 'comics:profile' %}">Profile</a></li>
						<li><a class="dropdown-item" href="{% url 'comics:settings' %}">Settings</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="{% url 'comics:logout' %}">Sign out</a></li>
					</ul>
				</div>
			{% else %}
				<div class="text-end">
					<a href="{% url 'comics:login' %}" class="text-decoration-none">
						<button type="button" class="btn btn-outline-light me-2">
							Sign in
						</button>
					</a>
					<a href="{% url 'comics:signup' %}" class="text-decoration-none">
						<button type="button" class="btn btn-warning">
							Sign up
						</button>
					</a>

				</div>
			{% endif %}
		</div>
	</div>
</header>