.form {
  border-radius: 0;
  border: 0 #d5d5d5;
  border-bottom: 1px solid;
}

.forgot_password {
  color: #adb5bd;
}

.forgot_password:hover {
  color: #7a7f85;
}

.icon {
  height: 1.5em;
  padding-top: 3px;
}

.icon_btn {
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
}

.error {
  color: red;
}