{% extends 'comics/base.html' %}

{% block head %}
	<title>{{ chapter.comic.title }} - Chapter {{ chapter.chapter_num }}</title>
{% endblock %}

{% block main %}
	<div class="container d-flex flex-row justify-content-between px-5 mt-3">
		<div class="d-flex flex-row">
			<a href="{% url 'comics:comic_detail' comic_id=chapter.comic_id %}" class="me-2">
				<button class="btn btn-dark">
					All chapters
				</button>
			</a>
			<div class="dropdown">
				<button class="btn btn-dark dropdown-toggle" id="chapterListDropdown" data-bs-toggle="dropdown"
				        aria-expanded="false">Select chapter
				</button>
				<ul class="dropdown-menu" aria-labelledby="chapterListDropdown">

					{% for c in chapter_list %}
						<li class="dropdown-item">
							<a class="text-decoration-none text-dark"
							   href="{% url 'comics:chapter_detail' comic_id=chapter.comic_id chapter_id=c.chapter_num %} ">
								Chapter {{ c.chapter_num }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>

		</div>
		<form id="likeForm">
			{% csrf_token %}
			<button class="btn btn-dark" id="likeBtn">
			<span>
				{{ chapter.likes }}
			</span>

				{% if like %}
					<i id="heartIcon" class="fa-solid fa-heart"></i>
				{% else %}
					<i id="heartIcon" class="fa-regular fa-heart"></i>
				{% endif %}
			</button>
		</form>
		<div class="d-flex flex-row">
			{% if prev_chapter != None %}
				<a href="{% url 'comics:chapter_detail' comic_id=chapter.comic_id chapter_id=prev_chapter %}">
					<button class="btn btn-dark">
						Prev
					</button>
				</a>
			{% else %}
				<a>
					<button class="btn btn-dark disabled">
						Prev
					</button>
				</a>
			{% endif %}
			{% if next_chapter != None %}
				<a href="{% url 'comics:chapter_detail' comic_id=chapter.comic_id chapter_id=next_chapter %}"
				   class="ms-2">
					<button class="btn btn-dark">
						Next
					</button>
				</a>
			{% else %}
				<a class="ms-2">
					<button class="btn btn-dark disabled">
						Next
					</button>
				</a>
			{% endif %}
		</div>

	</div>
	<div class="container align-items-center d-flex flex-column">
		{% for image in images %}
			<img src="/media/{{ image.image }}" alt="Chapter-{{ chapter.chapter_num }}"/>
		{% endfor %}
	</div>

	{# TODO: aggiungere sezione commenti #}

	<div id="commentSection" class="container-fluid w-75 mt-5">
		<h3>Comments</h3>
		<form id="commentForm">
			{% csrf_token %}
			<div id="replyBox" style="display: none">
				<a onclick="removeReply()" class="btn">
					<i class="fas fa-xmark"></i>
				</a>
				<span id="replyTo"></span>
			</div>
			<input type="hidden" name="comment_id" id="replyId" placeholder="Name"/>
			<div class="input-group mb-3">
				<input id="newComment" type="text" class="form-control" placeholder="Leave a comment..."
				       aria-label="Leave a comment..."
				       aria-describedby="button-addon2" required>
				<button class="btn btn-outline-dark" type="submit" id="button-addon2">Post</button>
			</div>
		</form>

		<div id="comments">
			<ul class="list-unstyled">
				{% for comment in comments %}
					{% if comment.reply == None %}
						<li class="mb-3" id="comment_{{ comment.id }}">
							<div class='card card-body'>
								<div class='d-flex flex-row align-items-end'>
									<h5 class='card-title mb-0 me-2'>{{ comment.user.username }}</h5>
									<span class='card-subtitle'> - {{ comment.created_on }}</span>

								</div>
								{% if comment.user.id == user.id %}
									<div style="position: absolute; right: 20px;">
										<a class='btn btn-outline-dark'
										   onclick='deleteComment({{ comment.id }})'>
											<i class="fas fa-xmark"></i>
										</a>
									</div>
								{% endif %}
								<div class='card-text'>{{ comment.body }}</div>
								<div class="">
									<a class='btn btn-outline-dark'
									   onclick='postReply({{ comment.id }}, "{{ comment.user.username }}")'>Reply</a>
								</div>

							</div>
							<ul id="comment_{{ comment.id }}_replies" class="list-unstyled ms-4">
								{% for reply in comment.reply_to.all %}
									<li id="comment_{{ reply.id }}">
										<div class='card card-body'>
											<div class='d-flex flex-row align-items-end'>
												<i class="fa-solid fa-arrow-turn-up me-2"
												   style="transform: rotateY(180deg); padding-bottom: 6px"></i>
												<h5 class='card-title mb-0 me-2'>{{ reply.user.username }}</h5>
												<span class='card-subtitle'> - {{ reply.created_on }}</span>
											</div>
											{% if reply.user.id == user.id %}
												<div style="position: absolute; right: 20px;">
													<a class='btn btn-outline-dark'
													   onclick='deleteComment({{ reply.id }})'>
														<i class="fas fa-xmark"></i>
													</a>
												</div>
											{% endif %}
											<div class='card-text'>{{ reply.body }}</div>
										</div>
									</li>
								{% endfor %}
							</ul>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}


{% block javascript %}
	<script>
      $("#likeForm").submit((e) => {
        e.preventDefault();
        $.ajax({
          url: "{% url 'comics:like_chapter' chapter_id=chapter.id %}",
          type: 'POST',
          headers: {
            'X-CSRFToken': csrftoken
          },
          success: (data) => {
            const likeInnerNodes = $("#likeBtn").children();
            likeInnerNodes[0].innerHTML = data;
            likeInnerNodes[1].classList.toggle("fa-solid");
            likeInnerNodes[1].classList.toggle("fa-regular");
          }
        });
      });


      $('#commentForm').submit((e) => {
        e.preventDefault();

        $.ajax({
          url: "{% url 'comics:add_comment' chapter_id=chapter.id %}",
          type: 'POST',
          headers: {
            'X-CSRFToken': csrftoken
          },
          dataType: 'json',
          data: {
            comment: $('#newComment').val(),
            reply_to: $('#replyId').val()
          },
          success: (data) => {
            location.reload();
          }
        });
      });

      const removeReply = () => {
        $('#replyBox').hide();
        $('#replyId').val('');
      }
      const postReply = (commentId, username) => {
        $("#replyId").val(commentId);
        $('#replyBox').show();
        $("#replyTo").text(`Reply to ${username}`);
        $('#newComment').focus();
      }

      const deleteComment = (commentId) => {
        $.ajax({
          url: `/comments/delete/${commentId}`,
          type: 'POST',
          headers: {
            'X-CSRFToken': csrftoken
          },
          success: (data) => {
            location.reload();
          }
        });
      }
	</script>
{% endblock %}