{% extends "comics/base.html" %}
{% load static %}
{% block head %}
	<title>{{ comic.title }}</title>
	<link rel="stylesheet" href="{% static 'comics/css/comic.css' %}" type="text/css"/>
{% endblock %}

{% block main %}
	<section class="top_half d-flex flex-row w-100 bg-opacity-75 bg-dark">
		<div class="d-flex flex-column">
			<img
					alt="image"
					src="/media/{{ comic.cover }}"
					class="thumbnail border-0"
			/>
			<div class="d-flex flex-row">
				<form id="bookmark_form" class="w-100 me-1">

					{% csrf_token %}
					{% if bookmark %}
						<button id="bookmarkBtn" class="btn btn-light w-100" type="submit">
							<i class="fas fa-bookmark"></i>
						</button>
					{% else %}
						<button id="bookmarkBtn" class="btn btn-outline-light w-100" type="submit">
							Bookmark
						</button>
					{% endif %}
				</form>

				<form id="rating_form">
					{% csrf_token %}
					<div class="dropdown">
						{% if rating %}
							<button class="btn btn-light dropdown-toggle" id="ratingDropdown" data-bs-toggle="dropdown"
							        aria-expanded="false">
								<i class="fas fa-star"></i>
							</button>
						{% else %}
							<button class="btn btn-outline-light dropdown-toggle" id="ratingDropdown"
							        data-bs-toggle="dropdown"
							        aria-expanded="false">
								<i class="fas fa-star"></i>
							</button>
						{% endif %}
						<div class="dropdown-menu" aria-labelledby="ratingDropdown">
							<button class="dropdown-item" type="submit" value="0" id="rating_btn_{{ i }}">Remove
							</button>
							{% for i in ratingRange %}
								<button class="dropdown-item" value="{{ i }}" id="rating_btn_{{ i }}"
								        type="submit">{{ i }}</button>
							{% endfor %}
						</div>
					</div>

				</form>
			</div>

		</div>
		<div class="info d-flex flex-column">
			<h1 class="title text-white ">{{ comic.title }}</h1>
			<a
					href="{% url 'comics:user_detail' user_id=comic.creator_id %}"
					class="text-decoration-none"
			>
				<h3 class="author text-white mb-3">{{ author_name }}</h3>
			</a>
			<div class="extra-info d-flex flex-row align-items-center align-self-start justify-content-between mb-3">
				<div class="d-flex flex-row align-items-center pe-3">
					<span id="rating" class="text-white">{{ comic.rating }}</span>
					<i class="fa-solid fa-star star"></i>
				</div>
				<div class="d-flex flex-row justify-content-end align-items-center">
					{% if comic.status == 'O' %}
						<i class="fa-solid fa-circle status_dot ongoing"></i>
						<span class="status text-white">Ongoing</span>
					{% elif comic.status == 'H' %}
						<i class="fa-solid fa-circle status_dot hiatus"></i>
						<span class="status text-white">Hiatus</span>
					{% elif comic.status == 'C' %}
						<i class="fa-solid fa-circle status_dot completed"></i>
						<span class="status text-white">Completed</span>
					{% elif comic.status == 'D' %}
						<i class="fa-solid fa-circle status_dot cancelled"></i>
						<span class="status text-white">Cancelled</span>
					{% endif %}
				</div>

			</div>
			<div class="w-100 d-flex align-items-start mb-4">
				{% for genre in genres %}
					<a
							href="{% url 'comics:comic_list' %}?g={{ genre.id }}"
							class="text-decoration-none"
					>
						<button class="btn btn-outline-light mx-1" id="{{ genre.id }}">{{ genre.name }}</button>
					</a>
				{% endfor %}
			</div>
			<div class="d-flex flex-column w-100 align-items-start mb-3">
				<h2 class="text-white mb-2">
					Synopsis
				</h2>
				<span class="text-white">
					{{ comic.summary }}
				</span>
			</div>

			{# watches + bookmarks #}
			<div class="d-flex flex-row align-self-start ">
				<div class="me-3">
					<i class="fa-solid fa-eye text-white"></i>
					<span class="text-white">{{ comic.watches }}</span>
				</div>
				<div>
					<i class="fa-solid fa-bookmark text-white"></i>
					<span id="follows" class="text-white">{{ comic.follows }}</span>
				</div>
			</div>
		</div>
	</section>
	<section class="bottom_half d-flex flex-column w-100 my-4 align-items-center">
		<div class="w-50 mb-3 d-flex flex-row justify-content-between">
			<span class="align-self-start  fs-3"> Latest release</span>
			<button class="btn btn-outline-dark" onclick="reverse_chapter_list()">
				<i class="fa-solid fa-arrow-right-arrow-left" style="transform: rotate(90deg)"></i>
			</button>
		</div>
		<ul class="list-group w-50" id="chapter-list">
			{% for chapter in chapters %}

				<li id="chapter_{{ chapter.chapter_num }}" class="list-group-item d-flex bg-dark mb-2 w-100">
					{% if buy_list and chapter.id in buy_list %}
						<a href="/comics/{{ comic.id }}/chapter-{{ chapter.chapter_num }}"
						   class="text-white text-decoration-none w-100 d-flex align-items-center justify-content-between">
							<div class="w-auto invisible">
								<i class="fa-solid fa-coins"></i>
								<span class="">{{ chapter.cost }}</span>
							</div>
							<span class="">Chapter {{ chapter.chapter_num }}</span>
							<i class="fa-solid fa-lock-open align-items-end"></i>

						</a>
					{% else %}
						{% if user.is_authenticated %}
							<a href="#" onclick="showBuyModal({{ chapter.id }})"
							   class="text-white text-decoration-none w-100 d-flex align-items-center
							justify-content-between">
						{% else %}
							<a href="#" data-bs-toggle="modal" data-bs-target="#anonUserModal"
							   class="text-white text-decoration-none w-100 d-flex align-items-center
							justify-content-between">
						{% endif %}
					<div class="w-auto">
						<i class="fa-solid fa-coins"></i>
						<span class="">{{ chapter.cost }}</span>
					</div>
					<span class="">Chapter {{ chapter.chapter_num }}</span>
					<i class="fa-solid fa-lock align-items-end"></i>

					</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</section>

	{% include 'comics/components/modal.html' %}

{% endblock %}

{% block javascript %}
	<script src="{% static 'comics/js/comic.js' %}"></script>
	<script>
      $("#bookmark_form").submit((e) => {
        e.preventDefault();

        const serializedData = $(this).serialize();

        $.ajax(
            {
              url: "{% url 'comics:add_bookmark' comic_id=comic.id %}",
              type: 'POST',
              data: serializedData,
              headers: {
                'X-CSRFToken': csrftoken
              },
              success: (data) => {
                $('#follows').html(data);
                const bookmarkBtn = $('#bookmarkBtn');
                if (bookmarkBtn.html().trim() === 'Bookmark') {
                  bookmarkBtn.html('<i class="fas fa-bookmark"></i>');
                } else {
                  bookmarkBtn.html('Bookmark');
                }
                bookmarkBtn.toggleClass('btn-light');
                bookmarkBtn.toggleClass('btn-outline-light');
              }
            }
        );
      });

      $("#rating_form").submit((e) => {
        e.preventDefault();
        $.ajax(
            {
              url: `/comics/rate_comic/{{ comic.id }}/${e.originalEvent.submitter.value}`,
              type: 'POST',
              headers: {
                'X-CSRFToken': csrftoken
              },
              success: (data) => {
                const json_data = JSON.parse(data);

                $('#rating').html(json_data['rating']);
                if (json_data['message'] !== 'u') {
                  const ratingBtn = $('#ratingDropdown');
                  ratingBtn.toggleClass('btn-light');
                  ratingBtn.toggleClass('btn-outline-light');
                }
              }
            }
        );
      });
	</script>
{% endblock %}