{% extends "comics/base.html" %}
{% load static %}
{% block head %}
	<link href="{% static 'comics/css/card.css' %}" rel="stylesheet"/>
	<link href="{% static 'comics/css/index.css' %}" rel="stylesheet"/>
	<title>Comics</title>
{% endblock %}
{% block title %} Comics {% endblock %}

{% block main %}
	<h1 class="new_uploads">
		New uploads
	</h1>
	<section class="card_list">

		{% for comic in latest_updates %}
			{% include "comics/components/card.html" %}
		{% endfor %}
	</section>

{% endblock %}