{% extends "comics/base.html" %}
{% load static %}
{% block head %}
	<link href="{% static 'comics/css/card.css' %}" rel="stylesheet"/>
	<link href="{% static 'comics/css/index.css' %}" rel="stylesheet"/>
	<title>Comics</title>
{% endblock %}
{% block title %} Comics {% endblock %}

{% block main %}
	<h1 class="new_uploads">
		New uploads
	</h1>
	<section class="card_list mb-4">

		{% for comic in latest_updates %}
			{% include "comics/components/card.html" %}
		{% endfor %}
	</section>
	<nav aria-label="Page navigation example" class="">
		<ul class="pagination justify-content-center">
			{% if prev_page %}
				<li class="page-item">
					{% else %}
				<li class="page-item disabled">
			{% endif %}
			<a class="page-link" href="/?page={{ prev_page }}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
			</li>
			{% for i in pages %}
				{% if current_page == i %}
					<li class="page-item"><a class="page-link active">{{ i }}</a></li>
				{% else %}
					<li class="page-item"><a class="page-link" href="/?page={{ i }}">{{ i }}</a></li>
				{% endif %}
			{% endfor %}

			{% if next_page %}
				<li class="page-item ">
					{% else %}
				<li class="page-item disabled">
			{% endif %}
			<a class="page-link" href="/?page={{ next_page }}" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
			</li>
		</ul>
	</nav>

{% endblock %}