@import "status_rating.css";

.card {
  height: 420px;
  width: 220px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: black;
  border-width: 1px;
  flex-direction: column;
  border-radius: 25px;
}

.cover {
  width: 220px;
  height: 320px;
  z-index: 100;
  max-height: 50rem;
  object-fit: cover;
  border-width: 0;
  border-radius: 25px;
}

.cover:hover {
  opacity: 0.8;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.05s;
}

.title {
  color: black;
}

.title:hover {
  color: gray;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.05s;
}

.lower_half {
  flex: 1;
  width: 100%;
  display: flex;
  padding: 2px;
  flex-flow: column;
  flex-direction: column;
  justify-content: center;
}

.info {
  flex: 1;
  width: 100%;
  height: 21px;
  display: flex;
  position: relative;
  flex-flow: row;
  align-items: center;
  margin: 0 2px 0;
  padding: 0 2px;
  justify-content: space-between;
}

.rating_box {
  flex: 1;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.status_box {
  flex: 1;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  margin-right: 2px;
  flex-direction: row;
  justify-content: flex-end;
}



