
.status_dot,
.star {
  font-size: 15px;
  padding-right: 2px;
}

.star {
  color: orange;
  padding-left: 2px;
}

.status_dot.cancelled {
  color: red;
}

.status_dot.hiatus {
  color: orange;
}

.status_dot.ongoing {
  color: green;
}

.status_dot.completed {
  color: purple;
}
